.input_container > span {
  position: absolute;
  top: 50%;
  right: 15px;
}

.checkbox_container {
  text-align: center;
}

.checkbox_container label a{
  color: #105F74;
}
.checkbox_container label a:hover{
  font-weight: bold;
}

#cadastro_btn {
  margin-top: 1rem;
}

#login {
  color: #105F74;
  font-weight: 700;
  text-decoration: none;
  transition: ease-in-out 200ms;
}
#login:hover {
  text-decoration: underline;
  transform: scale(1.05);
}