@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #222222;
  color: #fff;
  height: 100vh;
  padding: 2% 3%;
  font-family: "Inter", sans-serif;
}

.user_foto {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
}

.f_align_center {
  display: flex;
  align-items: center;
}
.f_column_dir {
  display: flex;
  flex-direction: column;
}

.espacado {
  justify-content: space-between;
}

header {
  height: 10%;
  margin-bottom: 35px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 6fr 3fr;
  align-items: center;
  top: 0;
  background-color: inherit;
  z-index: 1;
}
header img#logo {
  width: 64px;
  display: block;
  z-index: 2;
}
header .search_bar {
  position: relative;
}
header .search_bar span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
  font-size: 1.7rem;
  font-weight: 100;
}
header input[type="search"] {
  width: 100%;
  font-size: 20px;
  border-radius: 24px;
  padding: 1% 3%;
  border: none;
  outline: none;
  background-color: #2a2a2a;
  color: rgba(255, 255, 255, 0.5);
}
header input[type="search"]:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
header .user_profile_container {
  gap: 1.5rem;
  justify-self: end;
}
header .user_profile_container .user_nome {
  font-size: 20px;
}


nav, header, section.conhecidos_container {
  position: sticky;
}
nav ul{
  gap: 2rem;
}
nav li {
  list-style: none;
  display: flex;
  gap: 1rem;
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}


section.conhecidos_container {
  gap: 1rem;
}
section.conhecidos_container ul {
  gap: 1.5rem;
  width: 100%;
}
section.conhecidos_container p {
  font-size: 1.5rem;
}
section.conhecidos_container li .user_profile_conhecido {
  gap: 0.5rem;
  font-size: 20px;
}
section.conhecidos_container li .adicionar_usuario {
  color: #269DF1;
}

section.postagens .criar_post {
  margin-bottom: 1.5rem;
  border: solid 1px #4C5C68;
  padding: 2.3% 4.5%;
}
section.postagens .criar_post #mensagem {
  width: 100%;
  height: 72px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f2f2f2;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}
section.postagens .criar_post .btns_criar_post {
  display: flex;
}
section.postagens .criar_post .btns_criar_post .inserir {
  gap: .5rem;
}
section.postagens .criar_post .btns_criar_post .enviar_postagem {
  font-size: 12px;
  background-color: #1985A1;
  border: none;
  border-radius: 10px;
  width: 16.5%;
  height: 2.5rem;
  cursor: pointer;
}


div.post_cards {
  gap: 1.5rem;
}
div.post_cards .post {
  border: solid 1px #484848;
  padding: 10% 7%;
}
div.post_cards .post_header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
div.post_cards .post_header img {
  position: relative;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
div.post_cards .post_header img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
}
div.post_cards .post_conteudo {
  padding: 0 7.2%;
  gap: 0.5rem;
}
div.post_cards .post_conteudo .post_imagem {
  width: 100%;
}
div.post_cards .post_conteudo .post_imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.post_cards .post_conteudo .post_btns{
  display: flex;
}
div.post_cards .post_conteudo .legenda {
  word-wrap: break-word;
}


main {
  display: grid;
  grid-template-columns: 1fr 6fr 2.8fr;
  gap: 10%;
  position: relative;
}


/* Responsividade para telas pequenas */
@media screen and (max-width: 767px) {
  main {
    display: block;
  }
  section.conhecidos_container {
    display: none;
  }
  header .user_profile_container .user_nome {
    display: none;
  }
  
}

/* Responsividade para telas medias */
@media screen and (max-width: 1032px) {
  main {
    grid-template-columns: 3fr 1fr;
    gap: 2%;
  }
  section.postagens,
  section.conhecidos_container {
    transition: ease-in-out 0.4s;
  }

  /* Exibir menu hamburger */
  nav {
    display: block;
    position: fixed;
    top: 10%;
    padding: 20% 3%;
    left: -100%;
    background-color: #222222;
    height: 100%;
    z-index: 1;
    transition: ease-in-out 0.4s;
  }
  nav.menu_active {
    left: 0;
  }
  nav.menu_active + section.postagens,
  nav.menu_active + section.postagens + section.conhecidos_container{
    filter: blur(10px);
  }
}
